.space-100 {  margin-top:100px; line-height: 0;} 
.space-75 {  margin-top:75px; line-height: 0;} 
.space-50 {  margin-top:50px; line-height: 0;}
.space-25 {  margin-top:25px; line-height: 0;}
.space-10 {  margin-top:10px; line-height: 0;}
.space-5 {  margin-top:5px; line-height: 0;}
.space-last {  margin-top:0px; line-height: 2;}

.container {
  background-color: #fcee21;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
}

.nopad{
  padding: 0;
}


.biggish { font-size: 20px;}

a {
  color: inherit;
}

a:hover {
  color:inherit;
  opacity:0.7;
}

.dotted-white {
  text-decoration: none;
  border-bottom: 2px #fff dotted;
}

.dotted-black {
  text-decoration: none;
  border-bottom: 2px #000 dotted;
}

.centered-title {
  text-align:center;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size:35px;
  text-align:center;
}

h3 {
  font-size:20px;
}

.red {
  background-color: #fbb03b;
}

.mid-orange {
  background-color: #ffd505;
}

.pink {
  background-color: #80ffd7;
}

.exclusive{
  text-align:center;
  
}

.exclusive img{
  width:250px;
  margin-left:25px;
  margin-right:25px;
}


.darkred {
  background-color: #ff5c6e;
}

.accordionarrow { float: right; }
.accordionpanel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left:25px;
  font-size:16px;
}
.accordion {
  cursor:pointer;
}
.emoji{
  width: 30px;
  float: left;
}


.accordionpanel p {
  margin-bottom: 1rem;
}
.accordionpanel ul li {
  margin-bottom: 0rem;
  list-style-type:disc;
}

.accordionpanel ul li ul li {
  margin-bottom: 3px;
  font-size:11px;
  list-style-type:none;
}

.accordionpanel ul li ul  {
  margin:0;
  margin-left:20px;
  margin-bottom:10px;
}

.nobullets ul li {
  list-style-type:none;
  margin-left:35px;
}

.nobullets ul li ul li{
  list-style-type:none;
    margin-left:0px;
}

.nobullets ul li ul{
    margin-left:0px;
}

.footer
{
  text-align: center;
  font-size:20px;
  color:white;
}

.test
{
  margin-left:10px;
}
.test2
{
  float:left;
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}




.gradientbg {
background: #78e5e9;
background: -moz-radial-gradient(center, ellipse cover, #78e5e9 0%, #b6c5f2 70%, #e9abf9 100%);
background: -webkit-radial-gradient(center, ellipse cover, #78e5e9 0%,#b6c5f2 70%,#e9abf9 100%);
background: radial-gradient(ellipse at center, #78e5e9 0%,#b6c5f2 70%,#e9abf9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78e5e9', endColorstr='#e9abf9',GradientType=1 );
}


.patternbg {
  background-attachment: fixed;
  background-image: url("../images/UI-Pattern.png");
    -webkit-animation: scrolling 100s linear infinite;
    -moz-animation: scrolling 100s linear infinite;
    -o-animation: scrolling 100s linear infinite;
    animation: scrolling 100s linear infinite;
}

@-webkit-keyframes scrolling {
  from{
      background-position: 0 0;
  }
  to{
      background-position: 100% 200%;
  }
}


/* The animation code */
@keyframes logo-bounce {
    0%   {transform: rotate(-2deg); }
    50%   {transform: rotate(2deg); }
    100%   {transform: rotate(-2deg); }
}

/* The element to apply the animation to */
.logo-bounce {
    animation-name: logo-bounce;
    animation-duration: 8s;
    animation-iteration-count:infinite;

}

/* Style the Image Used to Trigger the Modal */
.popup {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.popup:hover {opacity: 0.7;}