.space-100 {  margin-top:100px; } 
.space-75 {  margin-top:75px; } 
.space-50 {  margin-top:50px; }
.space-25 {  margin-top:25px; }
.space-10 {  margin-top:10px; }

.biggish { font-size: 20px;}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px #bbb dotted;
}
.accordionarrow { float: right; }
.accordionpanel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-left:25px;
  font-size:16px;
}
.accordion {
  cursor:pointer;
}
.emoji{
  width: 30px;
  float: left;
}


.accordionpanel p {
  margin-bottom: 1rem;
}
.accordionpanel ul li {
  margin-bottom: 0rem;
  list-style-type:disc;
}

.accordionpanel ul li ul li {
  margin-bottom: 3px;
  font-size:11px;
  list-style-type:none;
}

.accordionpanel ul li ul  {
  margin:0;
  margin-left:20px;
  margin-bottom:10px;
}

.nobullets ul li {
  list-style-type:none;
  margin-left:35px;
}

.nobullets ul li ul li{
  list-style-type:none;
    margin-left:0px;
}

.nobullets ul li ul{
    margin-left:0px;
}

.footer
{
  text-align: center;
  font-size:10px;
}

.test
{
  margin-left:10px;
}
.test2
{
  float:left;
}
